/*
 * vim: ft=less
 */

/* @define-color noti-bg rgb(22, 25, 37); */
@define-color noti-bg #2E3440;
@define-color cc-bg alpha(@noti-bg, 0.9);

@define-color noti-border-color @noti-bg;
@define-color noti-bg-hover #81A1C1;
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);

/* @define-color bg-selected rgb(137,180,250); */
@define-color bg-selected #81A1C1;


/* Window behind control center and on all other monitors */
.blank-window {
  background: alpha(black, 0);

}

/* Main panel */
.control-center {
  background: @cc-bg;
  border-radius: 8px;
  border: 0px solid #2E3440;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}


/* Single row in panel */
.notification-row {
  /* outline: 2px solid blue; */
  background: transparent;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.notification-row:focus,
.notification-row:hover {
  outline: none;
  background: transparent;
}

.notification {
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;
}

/* specific urgency colors */
.critical .summary {
  color: #bf616a;
}

.notification-content {
  outline: none;
  margin: 0px;
  padding: 10px;
  border-radius: 8px;
  border: 0px solid #88c0d0;
  background: @cc-bg;
}

.control-center .notification-content {
  border: 1px solid #81A1C1;
  background: #2E3440;
}

.close-button {
  background: @noti-close-bg;
  color: white;
  text-shadow: none;
  padding: 0;
  margin-top: 15px;
  margin-right: 15px;
  box-shadow: none;
  border: none;
  border-radius: 100%;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @noti-close-bg-hover;
  transition: all 0.15s ease-in-out;
  border: none;
}

.control-center .close-button {
  margin-top: 4px;
  margin-right: 4px;
}

.notification-default-action,
.notification-action {
  padding: 0;
  margin: 0;
  box-shadow: none;
  color: white;
  outline: none;
  background: transparent;
  border: none;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
}

.image {
  border-radius: 8%;
}

.body-image {
  background-color: white;
  border-radius: 8%;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: white;
  text-shadow: none;
}

.time {
  font-size: 13px;
  background: transparent;
  color: white;
  text-shadow: none;
  margin-right: 5px;

}

.body {
  font-size: 13px;
  font-weight: normal;
  background: transparent;
  color: white;
  text-shadow: none;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: white;
  text-shadow: none;
}


/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
  outline: 5px solid white;
}
.widget-title > button {
  font-size: initial;
  color: white;
  text-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
  border-radius: 12px;
}
.widget-title > button:hover {
  background: @noti-bg-hover;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 12px;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background: @bg-selected;
}
.widget-dnd > switch slider {
  background: @noti-bg-hover;
  border-radius: 12px;
}

/* Label widget */
.widget-label {
  margin: 8px;
}
.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}
.widget-mpris-player {
  padding: 8px;
  margin: 8px;
}
.widget-mpris-title {
  font-weight: bold;
  font-size: 1rem;
}
.widget-mpris-subtitle {
 font-size: 0.85rem;
}
